name: GitHub actions

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

env:
  BUILD_TYPE: Debug

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Build antlr4_shared
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
          cmake --build build --target antlr4_shared --parallel 4

      - name: Build the parser
        run: |
          cmake --build build --parallel 4

      - name: Build the unit tests POSIX
        if: matrix.os != 'windows-latest'
        run: |
          cmake --build build --target unit_tests

      - name: Run the parser POSIX
        if: matrix.os != 'windows-latest'
        run: |
          ./build/parser

      - name: Build the unit tests Windows
        if: matrix.os == 'windows-latest'
        shell: cmd
        run: |
          set "PATH=%PATH%;${{github.workspace}}\dist\${{env.BUILD_TYPE}}"
          cmake --build build --target unit_tests

      - name: Run the parser Windows
        if: matrix.os == 'windows-latest'
        run: |
          set "PATH=%PATH%;${{github.workspace}}\dist\${{env.BUILD_TYPE}}"
          .\build\${{env.BUILD_TYPE}}\parser.exe

      - name: Run the unit tests
        run: |
          ctest --test-dir build
